// reset css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

input {
  outline: none;
}
ol,
ul {
  margin-left: 20px;
  margin-bottom: 10px;
}

html,
body {
  height: 100%;
  width: 100%;
  // pointer-events: none;
  background: transparent !important;
  user-select: none;

  // input textarea select a can be selected
  input,
  textarea,
  select,
  a {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
  }
}
::-webkit-scrollbar {
  width: 5px;
}
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

::-webkit-scrollbar-track {
  background-color: #ccc;
}

::-webkit-scrollbar-thumb {
  box-shadow: none;
  background-color: #7e7e7e;
}
p {
  margin-bottom: 12px;
}
.gpt-copy-tips-wrapper {
  position: absolute;
  right: 0;
  top: 5px;
  right: 5px;
  &:hover {
    .gpt-copy-tips {
      opacity: 1;
    }
  }
}

.gpt-copy-icon {
  cursor: pointer;
  color: #fff;
}
.gpt-copy-tips {
  position: absolute;
  right: -10px;
  top: -25px;
  z-index: 1;
  padding: 0 5px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0;
  transition-property: color, background-color, border-color, outline-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  transition-duration: 0.6s;
}

.primary-color {
  color: var(--color-primary);
}

.voice-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .voice-icon-bar {
    background: #52467b;
    bottom: 1px;
    height: 3px;
    width: 2px;
    margin: 0px 2px;
    border-radius: 5px;
    animation: sound 0ms -600ms linear infinite alternate;
    &:nth-child(1) {
      left: 1px;
      animation-duration: 474ms;
    }
    &:nth-child(2) {
      left: 15px;
      animation-duration: 433ms;
    }
    &:nth-child(3) {
      left: 29px;
      animation-duration: 407ms;
    }
    &:nth-child(4) {
      left: 43px;
      animation-duration: 458ms;
    }
  }
}
@keyframes sound {
  0% {
    opacity: 0.35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 15px;
  }
}
